@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');

body {
	font-family: 'Lato', sans-serif;
    font-size: 15px;
}

a:hover {
	text-decoration: none;
}

.header-top {
    background-color: #0b0b0b;
}

.header-top a, .header-top {
    color:  #f5f3f3;
    font-size: 15px;
}

.header-top i.fa {
    color: #fc721e;
    padding-right: 10px;
}

.social-link {
	margin-left: 30px;
}

.header-top i.fa.fa-phone {
	padding-left: 25px;
}

.social-link i.fa {
	color: #f5f3f3;
    padding-right: 0;
}

span.social-link a {
    color: #fff;
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #f5f3f3;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    margin-left: 10px;
    transition: .3s;
}

span.social-link a:hover {
	background: #fc721e;
	border: 1px solid #fc721e;
}

.header-top {
    padding:  13px 0;
}

i.fa.fa-map-marker {
    padding-top: 10px;
}

.header-area {padding: 15px 0;}

h2.site-logo {
    font-size: 20px;
    text-transform: uppercase;
    padding: 12px 15px;
    border: 1px solid #000000;
    display: inline-block;
    margin: 0;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}

.mainmenu {margin-right: -15px;}

.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    display: inline-block;
    margin-left: 3px;
}

.mainmenu li a {
    color: #0b0b0b;
    text-transform: uppercase;
    font-weight: 900;
    padding: 15px;
    display: block;
    border: 1px solid transparent;
    transition: .3s;
}

.mainmenu li:hover > a {
    border: 1px solid #fc721e;
}

.slide-bg-1 {background-image: url(../img/slibe-bg-1.jpg);}

.single-slide {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    font-size: 16px;
    line-height: 2;
    color: #ffffff;
}

.single-slide:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #050505;
    z-index: -1;
    opacity: .8;
}

.single-slide .d-table-cell {
    vertical-align: middle;
}

.single-slide h2 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 30px;
}

.boxed-btn {
    display: inline-block;
    background-color: #fc721e;
    font-size: 16px;
    color: #ffffff;
    padding: 8px 30px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #fc721e;
    margin-top: 30px;
}

.boxed-btn.bordered-btn {
    background: transparent;
    border: 1px solid #ffffff;
    margin-left: 10px;
}