* {margin: 0; padding: 0}
body {
    background: #006F91; 
    font-size: 12px; color: #fff; 
    line-height: 15px;}
.fix {
    overflow: hidden;}
.floatleft {
    float: left}
.floatright {
    float: right}

.full_width {
    background: #005B78; 
    width: 570px; margin: 0 auto;  
    margin-top: 20px; 
    box-shadow: 7px 5px 6px 7px #005671}
.slider {
    background: url(images/slider_bg.png) no-repeat; 
    width: 570px; height: 431px;}
.slider h2 {
    color: #005c78;
    font-size: 30px;
    margin-top: 121px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;}
.slider_img {background: -moz-radial-gradient(circle, #0C9EB6 35%, #0F3C45 90%);;
    border: 10px solid #fff;
    border-radius: 50%;
    height: 160px;
    margin-left: 95px;
    margin-top: 80px;
    width: 160px;%;
    }
.slider_img h3 {
    font-size: 15px;
    margin-top: 68px;
    text-align: center;
    text-transform: uppercase;}
table, th, td {
    border: 2px solid #fff;
    border-collapse: collapse;
    padding: 3px;
    
}
.shop_bg {
    background: #00A7C2;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
}